.tr1 {
    content:url("https://c.tenor.com/MThz30WrMWQAAAAd/the-rock-chinese-the-rock.gif")
}

.tr2 {
    content:url("https://c.tenor.com/ACQn5n-60vcAAAAC/xd-iksdi.gif")
}

.tr3 {
    content:url("https://c.tenor.com/kHcmsxlKHEAAAAAC/rock-one-eyebrow-raised-rock-staring.gif")
}

.tr4 {
    content:url("https://c.tenor.com/qCECg-F0y90AAAAC/the-rock-dwayne-johnson.gif")
}

.tr5 {
    content:url("https://c.tenor.com/RP_qoKH85xgAAAAd/the-rock-sus-the-rock-meme.gif")
}

.tr6 {
    content:url("https://c.tenor.com/CoH0pdIdiEEAAAAC/therock.gif")
}

.tr7 {
    content:url("https://c.tenor.com/GkY0BS3F0R4AAAAd/the-rock-just-bring-it.gif")
}